{% load math_tag %}
{% load query_transform %}

{% if is_paginated %}
  {% if paginator.num_pages > 1 %}
  <section class="py-2">
    <div class="container">
      <div class="row justify-space-between py-2">
        <div class="col-lg-4 mx-auto row-message">
          <ul class="pagination pagination-primary m-4">

            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?{% query_transform request page=page_obj.previous_page_number %}" aria-label="Previous">
                <span aria-hidden="true"><i class="material-icons" aria-hidden="true">chevron_left</i></span>
              </a>
            </li>
            {% endif %}

            {% if page_obj.number == 1 %}
            <li class="page-item active">
            {% else %}
            <li class="page-item">
            {% endif %}
              <a class="page-link" href="?{% query_transform request page=1 %}">1</a>
            </li>
          
            
            {% if paginator.num_pages > 3 and  page_obj.number > 2 %}
            <li>...</li>
            {% endif %}

            {% if page_obj.number > 1 and page_obj.number < paginator.num_pages %}
            
            <li class="page-item active">
              <a class="page-link" href="#">{{ page_obj.number }}</a>
            </li>
            {% endif %}


            {% if paginator.num_pages > 3 and  page_obj.number < paginator.num_pages|subtract:1 %}
            <li>...</li>
            {% endif %}

            {% if page_obj.number == paginator.num_pages %}
            <li class="page-item active">
            {% else %}
            <li class="page-item">
            {% endif %}
              <a class="page-link" href="?{% query_transform request page=paginator.num_pages %}">{{ paginator.num_pages }}</a>

            {% if page_obj.number < paginator.num_pages %}
            <li class="page-item">
              <a class="page-link" href="?{% query_transform request page=page_obj.next_page_number %}" aria-label="Next">
                <span aria-hidden="true"><i class="material-icons" aria-hidden="true">chevron_right</i></span>
              </a>
            </li>
            {% endif %}
            

          </ul>
        </div>
      </div>
    </div>
  </section>
{% endif %}
{% endif %}