{% extends 'buildmahome/layouts/base_background.html' %}
{% load static %}

{% block title %} Material Kit 2 by Creative Tim {% endblock title %}

{% block body %} class="features-sections" {% endblock body %}

{% block header %}

{% include 'buildmahome/includes/navigation.html' %}

{% endblock header %}


{% block content %}

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
          <br><br>
          <div class="tab-content tab-space">
            <div class="tab-pane active" id="preview-features-1">

              <section class="py-9">

                <div class="container">
                  <div class="row-message">
                  
                    <div class="page-header py-6 py-md-5 mb-3 border-radius-xl" style="background-image: url('{% static 'img/old_tools_bg.jpg' %}')">
                      <span class="mask bg-gradient-faded-light"></span>
                      <div class="container">
                        <div class="row-thin text-center">
                            <h1 class="text-dark">  
                             {{ message|safe }}
                            </h1>
                        </div>
                      </div>
                    </div>
                    

                  </div>
                </div>


              </section>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}

  {% block footer %}
  
  {% include 'buildmahome/includes/footer_fullscreen.html' %}
  
  {% endblock footer %}

  {% block javascripts %}
  
  {% include 'buildmahome/includes/scripts_sections.html' %}
  
  {% endblock javascripts %}
